:root{
    --primary-text-color: #4F5665;
    --secondary-text-color:#140B2A;
    --primary-buttom-color:#F53855;
    --texto-color:#0B132A;

}
body{
    margin:0;
    padding:0;
    background-color: white;
    font-family: "Rubik", sans-serif;

}
nav{
    display: grid;
    grid-template-columns: 30% 30% 35%;
    height: 100px;
    padding:10px 20px 0px 20px; 
    margin-left: 80px;   
}

nav > div:nth-last-child(3){
    display:flex;
    align-items: center;
    justify-content: start;
}
nav > div:nth-last-child(2){
    display:flex;
    align-items: center;
}
nav > div:nth-last-child(1){
    
    display:flex;
    align-items: center;
    justify-content: end;
        
}
nav >img{
    width: 35px;
    height: 36px;
}
nav > h3{
    margin:0;
}
nav a{
    text-decoration: none;
    color: #4F5665;
    font-weight: 600;
    margin-right:20px;     
}
nav button.btn{
    border-radius: 37px;
    border:1px;
    border:none;
    padding: 15px 50px;    
}
button.btn-primary{
    background-color:transparent;
    border-color: aqua;
    color:#F53855;
    border-color:#F53855;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
button.btn-trasparent{
    background-color: transparent;
    color: #140B2A;
    border-color: #0B132A;
}

#banner{
    padding-top: 0px;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 500px;
    gap:30px;
    margin:30px;
}
#banner h1{
    font-size: 50px;
    color:var(--secondary-text-color);
    line-height: 70px;

}
#banner p{
    margin :20px;
    color: var(--second-text-color);
    font-size: 16px;

}
button.btn-secundary{
    background-color:#F53855;
    border-radius: 37px;
    border-color: transparent;
    color: white;
    height: 48px;
    width: 180px;
    font-weight: 600;
    margin-right: 5px;

}
#img{
    background-repeat: no-repeat;
    background-position-x: end;
    background-position-y: 100%,end;
    background-size: 100%,100%,100%;
    height: 100%;
}

#box{
  
    position:absolute;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 30px;
    justify-content: row;
    bottom:-230px;
    height: 200px;
    width: 85%;
}
.boxes{
    background-color: white;
    margin: 0 40px;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:30px;
    margin-top : -23px;
}
.boxes >img{
    margin-top: 5px;
    margin-left: 5px;
}
#boxes2 >h3{
    font-size: 25px;
    color: var(--secondary-text-color);
    margin:0px;
    font-weight: 700;
}
#boxes >p{
    color: var(--text-color);
    font-size: 20px;
}
.banner2{
    margin: 700px 200px;
    height: 300px;
}
#personita{
    background-repeat: no-repeat;
    background-position-x: 100%, center,end;
    background-position-y: 100%,center,end;
    background-size: 10%,100%,100%;
    height: 100%;
}
.texto{
    padding-left: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 290px;
    width: 500px;
    gap:10px;
    margin:30px;
    bottom: -330px;
}
.texto >h2{
    color: #0B132A;
    font-size: 35px;
    font-family: "Rubk", sans-serif;
    line-height: 50px;
    
}
.texto >p{
    color: #4F5665;
    margin-top: 20px;
}
.lista {
        display: flex;
        justify-content: column;
        font-size:50px;
        font-weight: 700;
        color:#252B42;
}
.listita{
    display:flex;

}
.listita> h6{
    color: #4F5665;

}
.banner3{
    margin-bottom: -200px;
    margin: 700px 200px;
    height: 300px;
}
.texto{
    display:flex;
    justify-content: center;

}
.cuadrados{
    display: flex;
    margin-left: 170px;
    margin-top: 45px;

}
.cua2{
    width: 330px;
    height: 760px;
    background-color: white;
    margin:0;

}
.cua2>img{
    margin-top:30px;
    margin-bottom: -14px;
    

}
.cua2 >h5{
    margin-top: 40px;
    margin-bottom: 10px;
    align-items: flex-end;
    justify-content:center;
}
.cua >h3{
    margin-top: 40px;
    margin-bottom: 10px;
}
.check2{
    display:flex;

}
button.btn-three{
    background-color:#F53855;
    border-radius: 37px;
    border-color: transparent;
    color: white;
    height: 48px;
    width: 180px;
    font-weight: 600;
    margin-right: 5px;

}
footer{
    padding: 0px 70px;
    padding-bottom: 40px;
    
}
footer{
    padding: 0px 70px;
    padding-bottom: 40px;
    
}
.listasinferiores{

}
footer > div:first-child{
    display: grid;
    grid-template-columns: 15% 15% 15%; 
    justify-content: space-between;
}

footer > div:last-child{
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-evenvly;
    align-items: center;
    color: var(--text-color);
    font-weight: 800;
    font-size: 14px;
}
footer > div:last-child > div:last-child{
    width: 20%;
    text-align: center;

footer > div:last-child a{
    color: var(--primary-text-color);   
    margin: 0px 10px;
}
footer  > div:first-child  ul{
    list-style: none;
    margin: 0;
    padding: 0;


footer > div:first-child ul li a{
    display: block;
    text-decoration: none;
    color: var(--s);
    margin: 20px 0px;
    font-weight: 800;
    font-size: 7px;
}













